<h1>Blackjack</h1>
<p>Welcome <%= session[:player_name] %>.</p>
<div class="well well-large">
  Dealer cards:
  <ul class="unstyled inline">
  <% session[:dealer_cards].each do |card| %>
    <li><img styles="float:left;" src="/images/cards/<%= to_image(card) %>" /></li>
    &nbsp;
  <% end %>
  </ul>
</div>
<br />
<div class="well well-large">
Player cards:
<ul class="unstyled inline">
  <% session[:player_cards].each do |card| %>
    <li><img styles="float:left;" src="/images/cards/<%= to_image(card) %>" /></li>
  <% end %>
</ul>
</div>
<div>
  <p><%= session[:player_name] %>'s total: <%= total(session[:player_cards]) %>. <%= session[:player_name] %>'s credits: <%= session[:player_credit] %>$. Bet amount this game <%= session[:bet_amount] %>$</p>
</div>
<form class="form-inline" action="/hit" method="post">
  <input type="text" class="input-mini" name="place_bet" />
  <input type="submit" class="btn btn-success" name="hit" value="hit" />
  <input type="submit" class="btn btn-warning" name="stay" value="stay" />
</form>
